@font-face {
    font-family: dino;
    src: url("fonts/dinosaur.ttf");
}

@font-face {
    font-family: coffeeextra;
    src: url("fonts/coffeeextra.ttf");
}

@font-face {
    font-family: subtitle;
    src: url("fonts/SubtitleBd.otf");
}

@font-face {
    font-family: subtitleThin;
    src: url("fonts/Subtitle.otf");
}

body, html {
    padding: 0;
    margin: 0;
}

body {
	font-family: subtitle, Arial, Helvetica, sans-serif;
	font-size: xx-large;
	background: black;
	scrollbar-width: none;
	color: whitesmoke;
}

.bg {
	position: fixed;
	height: 210%;
	width: 210%;
	z-index: -1;
	background: url("1.png") repeat;
	animation: slide 10s linear infinite;
}

@keyframes slide {
	0% {
	  transform: translate3d(0, 0, 0);
	}
	100% {
	  transform: translate3d(-1284px, -514px, 0); /* The image width */
	}
  }

#real{
	display: inline-block;
	text-align: center;
	align-self: center;
	vertical-align: top;
	align-items: center;
	text-align: center;
	width: 40%;
	padding-left: 4%;
}

#real img{
	border: 5px solid white;
	border-radius: 10px;
	box-shadow: 8px 8px 10px grey;
	align-self: center;
	width: 90%;
	transition: 0.13s;
}

#real img:hover{
	width: 100%;
}

#real p{
	display: block;
}

.gif {
	position: fixed;
	width: 8%;
	transition: 0.13s;
}

.gif:hover{
	width: 10%;
	align-self: center;
}

.topright {
	right: 0;
}

.bottomleft {
	bottom: 0;
}

.bottomright{
	right: 0;
	bottom: 0;
}